<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <link rel="icon" href="https://library.kissclipart.com/20180901/aw/kissclipart-favicon-clipart-cafe-restaurant-food-4e9122ced8a673af.jpg" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.5.0/sketchy/bootstrap.min.css" />
        <link rel="stylesheet" href="/css/style.css" />
        <title>Recipe!</title>
    </head>

    <body>
        <div class="container">
            <div class="row text-center">
                <div class="col-md-12">
                    <h3>Feeling Hungry?</h3>
                    <h5>Get a meal right now?</h5>
                    <button class="btn btn-outline-success" id="get_meal">Get Meal 🍔</button>
                </div>
            </div>
            <div class="container" id="meal"></div>
        </div>
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <script src="/js/app.js"></script>
    </body>
</html>
